body {
    font-family: 'Ubuntu', sans-serif;

}

h1 {
    text-align: center;
}

p{
    font-size: 24px;
}

.centro{
    padding-left: 10px;
    margin:20px 0 0 0;
    max-width: 30%;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 20px;

}


.Input_1{
    display: block;
    text-align: left;
    font-size: 18px; 
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-top: 15px;
    height: 25px;
    width: 100%;
    
}
 .Input_1:hover{
     box-shadow: 0px 0px 10px;
     padding: 3px;
 }

 .posicion_derecha{
     float: right;
     padding-right: 80px;
     text-align: left;
 }

 .posicion_izquierda{
    float: left;
 }

.options {
    display: block;
    text-align: left;
    font-size: 18px; 
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    margin-top: 15px;
    height: 25px;
    width: 500px;;
    float: none;
}